# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Environments
.env
.venv/
env/
venv/

# Jupyter / Colab
.ipynb_checkpoints/

# VS Code / Editors
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/config.toml
